@keyframes mouse-traffic {
    0% {
      transform: translateY(0px);
    }
    25% {
      transform: translateY(20px);
    }
    50% {
      transform: translateY(40px);
    }
    75% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(0px);
    }
}
body {
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    background-color: #242B33;
    color: #FFFFFF;
}
a {
    text-decoration: none;
    list-style-type: none;
}
.header-bg {
    background-image: url(../images/header-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 42px;
}
.logo img {
    width: 134px;
    height: 26px;
}
.logo::after {
    content: 'жилой комплекс';
    text-transform: uppercase;
    display: block;
    color: #FFFFFF;
    font-size: 12px;
    padding-top: 10px;
    letter-spacing: 0.12em;
}
.header-nav {
    display: flex;
    gap: 19px;
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    /* padding-right: 68px; правый отступ по макету?*/
    letter-spacing: 0.04em;
}
.header-nav a {
    color: #FFFFFF;
    font-size: 14px;
    padding: 10px 10px;
    border-radius: 5px;
    transition: 1.5s;
}
.header-nav a:hover {
    font-size: 110%;
    background-color: black;
}
.header-section {
    text-align: center;
    padding-top: 170px;
    padding-bottom: 74px;
}
h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 48px;
    color:#D4C17F;
    max-width: 556px;
    line-height: 1.27em;
    margin:0 auto;
}
h1::after {
    content: url(../images/mouse.png);
    margin-top: 79px;
    margin-bottom: 120px;
    display: block;
    animation: mouse-traffic 2s infinite linear;
}
.header-section-row {
    /* margin-top: 200px; */
    display: flex;
    justify-content: center;
    gap: 90px;
}
.street::before {
    content: url(../images/map-tag.svg);
    margin-right: 15px;
    width: 21px;
    height: 21px;
}
.tel a {
    color: #FFFFFF;
}
.tel::before {
    content: url(../images/phone.svg);
    margin-right: 15px;
    width: 21px;
    height: 21px;
}
.features {
    margin: 120px 0;
}
.features-items {
    display: flex;
    justify-content: center;
    gap: 25px;
}
.feature {
    text-align: center;
}
.feature img {
    margin-bottom: 53px;
}
.feature p {
    max-width: 193px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 27px;
    margin: 0 auto;
}
.catalog-header {
    margin-bottom: 100px;
}
h2 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    color: #D4C17F;
    margin: 0;
}
.catalog-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.catalog-item {
    position: relative;
    overflow: hidden;
}
.catalog-item p {
    font-weight: 400;
    margin: 0;
    position: absolute;
    bottom: 50px;
    padding-left: 50px;
}
.catalog-item img {
    transition: transform 0.25s;
}
.catalog-item img:hover {
    transform: scale(1.1);
}
.bg-form {
    background-image: url(../images/input-bg.jpg);
    padding-top: 180px;
    padding-bottom: 180px;
}
.content-flex {
    display: flex;
    justify-content: space-between;
}
.description p {
    padding-top: 50px;
    max-width: 535px;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}
.form-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px 30px;
    align-content: end;
}
.input {
    font-size: 14px;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    padding: 17px 48px;
    border: none;
}
.input-desc {
    color: #E7E7E7;
    font-size: 13px;
    max-width: 255px;
    margin: 0;
    line-height: 16px;
}
.button {
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #D4C17F;
    border: none;
    padding: 17px 48px;
    transition: color 0.4s;
}
.button:hover {
    color: black;
}
.video-flex {
    display: flex;
    justify-content: center;
}
.video {
    margin-bottom: 180px;
}
video {
    width: 70%;
}
.map h2 {
margin-bottom: 100px;
}
.map-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 180px;
}
.map-iframe {
    border: none;
    width: 100%;
    height: 358px;
}
.input-questions h2 {
    margin-bottom: 50px;
}
.input-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-questions {
    margin-bottom: 180px;
}
footer {
    padding-top: 72px;
    background-color: #2D343C;
    font-size: 14px;
    padding-bottom: 60px;
}
.footer-flex {
    display: flex;
    justify-content: space-between;
    gap: 166px;
}
.footer-flex ul {
    padding-left: 0;
    list-style-type: none;
    text-decoration: none;
}
.footer-flex li {
    margin-bottom: 15px;
}
.footer-flex a {
    color: #FFFFFF;
}
#email-color {
    color: #D4C17F;
}
.social-icons a {
margin-right: 21px;
}
.social-icons img {
    transition: transform 0.4s;
}
.social-icons img:hover {
    transform: scale(1.2);
}
@media (max-width: 1000px) {
    .container {
        max-width: 738px;
    }
    .content-flex {
        flex-direction:column;
        gap: 30px;
    }
    .description p {
        max-width: 738px;
    }
    .input-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 20px;
    }
    .input-form .input-desc {
        grid-column: 1;
        grid-row: 2;
    }
    .footer-flex {
        gap: 40px;
    }
}
@media (max-width: 750px) {
    .container {
        max-width: 580px;
    }
    .header-nav {
        display: none;
    }
    .features-items {
        flex-wrap: wrap;
    }
    .catalog-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .form-items {
        grid-template-columns: repeat(1, 1fr);

    }
    .input-form {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
    .input-form .input-desc {
        grid-column: 1;
        grid-row: 3;
    }
    .footer-flex {
        flex-wrap: wrap;
    }
    .footer-contacts ul {
        display: flex ;
        justify-content: space-between;
        gap: 10px;
        flex-wrap: wrap;
    }
    .social-icons {
        margin: 0 auto;
    }
    .header-section-row {
        flex-wrap: wrap;
    }
}
@media (max-width: 400px) {
    .container {
        max-width: 300px;
    }
    h1 {
        font-size: 36px;
    }
    .video {
        margin-bottom: 90px;
    }
    video {
        width: 100%;
    }
}