@keyframes mouse-traffic {
    0% {
      transform: translateY(0px);
    }
    25% {
      transform: translateY(20px);
    }
    50% {
      transform: translateY(40px);
    }
    75% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(0px);
    }
}
body {
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    background-color: #242B33;
    color: #FFFFFF;
}
a {
    text-decoration: none;
    list-style-type: none;
}
.header-bg {
    background-image: url(../images/header-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 42px;
}
.header-logo img {
    width: 134px;
    height: 26px;
}
.header-logo::after {
    content: 'жилой комплекс';
    text-transform: uppercase;
    display: block;
    color: #FFFFFF;
    font-size: 12px;
    padding-top: 10px;
    letter-spacing: 0.12em;
}
.header-nav {
    display: flex;
    gap: 19px;
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    /* padding-right: 68px; правый отступ по макету?*/
    letter-spacing: 0.04em;
}
.header-nav a {
    color: #FFFFFF;
    font-size: 14px;
    padding: 10px 10px;
    border-radius: 5px;
    transition: 1.5s;
}
.header-nav a:hover {
    font-size: 110%;
    background-color: black;
}
/* .header-nav a::after{
    content: "";
    height: 0.1em;
    display: block;
    width: 100%;
    background-color: #FFFFFF;
    opacity: 0;
    transition: opacity 0.5s;
}
.header-nav a:hover::after {
    opacity: 1;
} */
.header-section {
    text-align: center;
    padding-top: 170px;
    padding-bottom: 74px;
}
h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 48px;
    color:#D4C17F;
    max-width: 556px;
    line-height: 1.27em;
    margin:0 auto;
}

h1::after {
    content: url(../images/mouse.png);
    margin-top: 79px;
    margin-bottom: 120px;
    display: block;
    animation: mouse-traffic 2s infinite linear;
}

.header-section-row {
    /* margin-top: 200px; */
    display: flex;
    justify-content: center;
    gap: 90px;
}
header-section-row span {
    font-size: 18px;
}
.street::before {
    content: url(../images/map-tag.svg);
    margin-right: 15px;
    width: 21px;
    height: 21px;
}
.tel a {
    color: #FFFFFF;
}
.tel::before {
    content: url(../images/phone.svg);
    margin-right: 15px;
    width: 21px;
    height: 21px;
}
.features {
    margin: 120px 0;
}
.features-items {
    display: flex;
    justify-content: center;
    gap: 25px;
}
.feature {
    text-align: center;
}
.feature img {
    margin-bottom: 53px;
}
.feature p {
    max-width: 193px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 27px;
    margin: 0 auto;
}
.catalog-header {
    margin-bottom: 100px;
}
h2 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    color: #D4C17F;
    margin: 0;
}
.catalog-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.catalog-item {
    position: relative;
    overflow: hidden;
}
.catalog-item p {
    font-weight: 400;
    margin: 0;
    position: absolute;
    bottom: 50px;
    padding-left: 50px;
}
.catalog-item img {
    transition: transform 0.25s;
}
.catalog-item img:hover {
    transform: scale(1.1);
}
.bg-form {
    background-image: url(../images/input-bg.jpg);
    padding-top: 180px;
    padding-bottom: 180px;
}
.content-flex {
    display: flex;
    justify-content: space-between;
}
.description h2 {
    margin-bottom: 43px;
}
.description p {
    max-width: 535px;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}
.form-items {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px 30px;
    align-content: end;
}
.form-items input {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    padding: 17px 48px;
    border: none;
}
.form-items p {
    color: #E7E7E7;
    font-size: 13px;
    max-width: 255px;
    margin: 0;
    line-height: 16px;
}
.form-items button {
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #D4C17F;
    border: none;
    padding: 17px 48px;
}